@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/* body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

.cursor-pointer {
	cursor: pointer;
}

header .navbar-nav li a::after {
	bottom: -12px !important;
}

.navbar .btn-primary {
	padding: 6px 15px;
}

.CarouselHome .item {
	margin: 0 !important;
}

.react-tel-input .flag-dropdown {
	border: none !important;
	background-color: transparent !important;
	z-index: 3 !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
	border: none !important;
	background-color: transparent !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
	border: none !important;
	background-color: transparent !important;
}

.react-tel-input .country-list {
	background-color: #070f38 !important;
}

.react-tel-input .country-list .country.highlight {
	background-color: #000 !important;
}

.react-tel-input .country-list .country:hover {
	background-color: #000 !important;
}

select.form-select option {
	background-color: #000;
	color: #fff !important;
}

.CarouselHome .item figure {
	height: 85vh;
	border-radius: 0px !important;
}

.CarouselHome .item figure img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}



.notificationLIst figure {
	width: 50px;
	height: 50px;
	min-width: 50px;
	background: #999;
	border-radius: 30px;
	margin-right: 0.5rem;
}

.notificationLIst .dropdown-item {
	display: flex;
	border-bottom: 1px solid #333333;
	padding: 0.5rem;
}

.notificationLIst .dropdown-item small {
	font-weight: 400;
}

.notificationLIst .dropdown-item p,
.notificationLIst .dropdown-item h6 {
	margin-bottom: 0rem;
}



.MyAccountDown {
	min-width: auto !important;
}

.text-center.QRCode img {
	width: 350px;
	margin: 0 auto;
}

.CarouselHome .owl-dots {
	bottom: 30px;
	position: relative;
}

.providerBox figure img {
	margin: 0 auto;
}

.depositBTN {
	display: flex;
	align-items: center;
}

.depositBTN img {
	display: inline-block;
	width: 15px;
}

.formBox .countrySelect input {
	padding-left: 3rem !important;
	height: auto;
	width: 100%;
}

.accountRight .formBox .countrySelect input {
	width: auto;
}

.recatSelect input,
.reactSlectGroup .react-tel-input input {
	height: auto !important;
	width: 100% !important;
	padding-left: 3rem !important;
}

.modleRight .nav-pills li button img {
	display: inline-block;
}

.modleRight .nav-pills li button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.topCategory ul {
	overflow-x: auto;
	overflow-y: hidden;
	/* overflow: hidden; */
}

.reactSlectGroup .react-tel-input {
	width: calc(100% - 120px) !important;
}

@media (max-width: 583px) {
	.reactSlectGroup .react-tel-input {
		width: 100% !important;
		margin-bottom: 0.5rem;
	}
}

.topCategory ul .btn img {
	margin: 0 auto !important;
	display: inline-block;
}

.itemBox .btn-light {
	cursor: pointer;
	position: relative;
	padding: 0.5rem 1.5rem;
	border-radius: 3.75rem;
	font-weight: 600;
	color: #fff;
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #ff89d6 0%, #c01f9e 100%);
	box-shadow:
		0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
		0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
		0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
		0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}
@media (max-width:767px){
	.itemBox .btn-light {
		padding: 0.2rem 1rem;
	}
}

/* button span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
} */

.itemBox .btn-light::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;

	opacity: 0.7;
	background-image: linear-gradient(
		-270deg,
		rgba(255, 255, 255, 0) 0%,
		#ffffff 20%,
		#ffffff 80%,
		rgba(255, 255, 255, 0) 100%
	);
}

.itemBox .btn-light::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;

	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(
		-270deg,
		rgba(255, 255, 255, 0) 0%,
		#ffffff 20%,
		#ffffff 80%,
		rgba(255, 255, 255, 0) 100%
	);
}

.itemBox .btn-light:hover {
	border: transparent;
	color: #fff;
}

.ExtraMenu ul a {
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

.ExtraMenu ul a span {
	margin-right: 0.5rem;
	min-width: 20px;
}

.ExtraMenu ul a .downICon {
	margin-left: auto;
}

.ExtraMenu ul a[aria-expanded="true"] .downICon {
	rotate: 180deg;
}

.ExtraMenu ul li button {
	i {margin-right: .2rem;}
}


.searchResultBox {
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.innerMain {
	padding-top: 58px;
}

.providerBox {
	min-width: 100%;
}

.providerBox div .provideTitle {
	word-break: break-all;
}

.social {
	display: inline-flex;
}

.gameGrid-8,
.gameGrid-8-NOTScroll {
	display: grid;
	grid-auto-columns: -webkit-min-content;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	grid-gap: 12px;
	grid-template-rows: 1fr;
}
@media (min-width: 583px) {
	.gameGrid-8,
	.gameGrid-8-NOTScroll {
		grid-auto-flow: row;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 12px;
	}
}
@media (min-width: 992px) {
	.gameGrid-8,
	.gameGrid-8-NOTScroll {
		grid-auto-flow: row;
		grid-template-columns: repeat(7, 1fr);
	}
}

@media (min-width: 1200px) {
	.gameGrid-8,
	.gameGrid-8-NOTScroll {
		grid-template-columns: repeat(8, 1fr);
	}

	.CarouselHome .item .hoverText {
		top: 0%;
		max-width: 100%;
		transform: translate(0%, 50%);
	}
}

@media (min-width: 1400px) {
	.gameGrid-8,
	.gameGrid-8-NOTScroll {
		grid-template-columns: repeat(10, 1fr);
	}
}

@media (max-width: 1200px) {
	/* .gameGrid-8 {
		grid-template-rows: 1fr;
		grid-auto-columns: -webkit-min-content;
		grid-auto-columns: min-content;
		grid-auto-flow: column;
		grid-gap: 12px;
		width: -webkit-max-content;
		width: max-content;
	} */
	/* .gameGrid-8 .itemBox, .providerBox {
		width: 120px; 
	} */
	.scrollList {
		overflow-x: scroll;
	}
	.gameGrid-8-NOTScroll {
		grid-template-rows: 1fr;
		grid-template-columns: repeat(8, 1fr);
		grid-auto-flow: row;
	}
}

@media (max-width: 992px) {
	.CarouselHome .item figure {
		height: 45vh;
	}
	.gameGrid-8-NOTScroll {
		grid-template-columns: repeat(6, 1fr);
	}
}



@media (max-width: 583px) {
	.gameGrid-8-NOTScroll {
		grid-template-columns: repeat(3, 1fr);
	}
	.ProvidersOffcanvas .gameGrid-8-NOTScroll {
		grid-template-columns: repeat(2, 1fr);
	}
}


/* Your CSS file */

.lazy-image {
	opacity: 0; /* Start with 0 opacity */
	transition: opacity 0.5s; /* Add a smooth transition for the opacity change */
}

.lazy-image.loaded {
	opacity: 1; /* When loaded, set opacity to 1 for a fade-in effect */
}



.profile-info{
	border: 1px solid #101010;
	padding: 0.875rem 0.75rem 0.875rem;
}

/* Don't forget include bootstrap 5.3.0 */
.gradient-pp{
  background: linear-gradient(45deg, #FF69B4, #8A2BE2);
}

.title{
  color: #fff;
  font-size: 5em;
}

.waves {
    position: relative;
    width: 100%;
    height: 16vh;
    margin-bottom: 0px;
    min-height: 100px;
    max-height: 150px
}

.waves.no-animation .moving-waves>use {
    animation: none
}

.wave-rotate {
    transform: rotate(180deg)
}

.moving-waves>use {
    animation: f 40s cubic-bezier(.55,.5,.45,.5) infinite
}

.moving-waves>use:first-child {
    animation-delay: -2s;
    animation-duration: 11s
}

.moving-waves>use:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 13s
}

.moving-waves>use:nth-child(3) {
    animation-delay: -3s;
    animation-duration: 15s
}

.moving-waves>use:nth-child(4) {
    animation-delay: -4s;
    animation-duration: 20s
}

.moving-waves>use:nth-child(5) {
    animation-delay: -4s;
    animation-duration: 25s
}

.moving-waves>use:nth-child(6) {
    animation-delay: -3s;
    animation-duration: 30s
}

@keyframes f {
    0% {
        transform: translate3d(-90px,0,0)
    }

    to {
        transform: translate3d(85px,0,0)
    }
}

.Main-Logo{
	height: 35px;
}