// Colors

// $black: #000000;
// $black-900:#101010;
// $black-800:#333333;
// $black-700:#4d4d4d;
// $black-600:#666666;
// $black-500:#808080;
// $black-400:#999999;
// $black-300:#b3b3b3;
// $black-200:#cccccc;
// $black-100:#e6e6e6;
// $white: #fff;

// NEW tint
// $t-black: #141428;
// $t-black-900:#121224;
// $t-black-800:#101020;
// $t-black-700:#0e0e1c;
// $t-black-600:#0c0c18;
// $t-black-500:#0a0a14;
// $t-black-400:#080810;
// $t-black-300:#06060c;
// $t-black-200:#040408;
// $t-black-100:#020204;
// $t-black-00:#000000;

// NEW shade
$black: #141428;
$black-900:#2c2c3e;
$black-800:#434353;
$black-700:#5b5b69;
$black-600:#72727e;
$black-500:#8a8a94;
$black-400:#a1a1a9;
$black-300:#b9b9bf;
$black-200:#d0d0d4;
$black-100:#e8e8ea;
$white: #fff;

// Secoundry shade
$secoundry:#000014;
$secoundry-900:#1a1a2c;
$secoundry-800:#333343;
$secoundry-700:#4d4d5b;
$secoundry-600:#666672;
$secoundry-500:#80808a;
$secoundry-400:#9999a1;
$secoundry-300:#b3b3b9;
$secoundry-200:#ccccd0;
$secoundry-100:#e6e6e8;



$lightBlack: #2D364E;
$gray: #5A5A5A;
$primary: #667DE9;
$light-b:#253A58;
$light:#F2EBEB;


 
// Font variation
$regular:    "Jost";