@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Bold.eot');
  src: url('../fonts/Jost-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Jost-Bold.woff2') format('woff2'),
      url('../fonts/Jost-Bold.woff') format('woff'),
      url('../fonts/Jost-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Black.eot');
  src: url('../fonts/Jost-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Jost-Black.woff2') format('woff2'),
      url('../fonts/Jost-Black.woff') format('woff'),
      url('../fonts/Jost-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-ExtraBold.eot');
  src: url('../fonts/Jost-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Jost-ExtraBold.woff2') format('woff2'),
      url('../fonts/Jost-ExtraBold.woff') format('woff'),
      url('../fonts/Jost-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-SemiBold.eot');
  src: url('../fonts/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Jost-SemiBold.woff2') format('woff2'),
      url('../fonts/Jost-SemiBold.woff') format('woff'),
      url('../fonts/Jost-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Regular.eot');
  src: url('../fonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Jost-Regular.woff2') format('woff2'),
      url('../fonts/Jost-Regular.woff') format('woff'),
      url('../fonts/Jost-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Light.eot');
  src: url('../fonts/Jost-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Jost-Light.woff2') format('woff2'),
      url('../fonts/Jost-Light.woff') format('woff'),
      url('../fonts/Jost-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Italic.eot');
  src: url('../fonts/Jost-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Jost-Italic.woff2') format('woff2'),
      url('../fonts/Jost-Italic.woff') format('woff'),
      url('../fonts/Jost-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Thin.eot');
  src: url('../fonts/Jost-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Jost-Thin.woff2') format('woff2'),
      url('../fonts/Jost-Thin.woff') format('woff'),
      url('../fonts/Jost-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Medium.eot');
  src: url('../fonts/Jost-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Jost-Medium.woff2') format('woff2'),
      url('../fonts/Jost-Medium.woff') format('woff'),
      url('../fonts/Jost-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g58jpx');
  src:  url('../fonts/icomoon.eot?g58jpx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g58jpx') format('truetype'),
    url('../fonts/icomoon.woff?g58jpx') format('woff'),
    url('../fonts/icomoon.svg?g58jpx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e911";
}
.icon-expand:before {
  content: "\e912";
}
.icon-angle-down:before {
  content: "\e903";
  color: #fff;
}
.icon-arrow-left:before {
  content: "\e904";
  color: #fff;
}
.icon-arrow-up-right-square-fill:before {
  content: "\e905";
  color: #fff;
}
.icon-bxs-coupon:before {
  content: "\e906";
  color: #fff;
}
.icon-bx-transfer:before {
  content: "\e907";
  color: #fff;
}
.icon-cash:before {
  content: "\e908";
  color: #fff;
}
.icon-edit:before {
  content: "\e909";
  color: #fff;
}
.icon-gift:before {
  content: "\e90a";
  color: #fff;
}
.icon-info:before {
  content: "\e90b";
  color: #fff;
}
.icon-lock:before {
  content: "\e90c";
  color: #fff;
}
.icon-log-out:before {
  content: "\e90d";
  color: #fff;
}
.icon-overflow-menu-horizontal:before {
  content: "\e90e";
  color: #fff;
}
.icon-settings-solid:before {
  content: "\e90f";
  color: #fff;
}
.icon-trophy-filled:before {
  content: "\e910";
  color: #fff;
}
.icon-grid:before {
  content: "\e902";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e900";
  color: #fff;
}
.icon-search:before {
  content: "\e901";
  color: #fff;
}
