

.modal-backdrop.show{
	opacity: 0.7;
}

.com-modal{
	.modal-dialog{
		width: 506px;
    	max-width: 94%;
		margin: auto;
		@media(max-width: 1399px){
			// width: 520px;
		}
	}
	.modal-content{
		border-radius: 16px;
		background-color: $gray-3;
		padding: 0 25px 27px;
		color: $gray-2;
		@media(max-width: 767px){
			border-radius: 8px;
			padding: 0 15px 27px;
		}
		.modal-header{
			padding: 24px 0;
			border-bottom: 1px solid $gray-1;
			display: block;
			@media(max-width: 767px){
				padding: 14px 0;
			}
			.modal-title{
				font-size: 20px;
				font-weight: 500;
				color: $white;
				@media(max-width: 767px){
					font-size: 16px;
				}
			}
		}
		.btn-close{
			background-image: none;
			opacity: 1;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 12px;
			right: 12px;
			i{
				color: $white;
				font-size: 20px;
				@media(max-width: 767px){
					font-size: 16px;
				}
			}
		}
		.modal-body{
			padding: 0;
		}
		.modal-footer{
			margin-top: 33px;
			padding: 0;
			border: 0;
		}
	}
	&.com-modal-small{
		.modal-dialog{
			width: 375px;
			max-width: 90%;
			.modal-content{
				padding-top: 32px;
			}
		}
	}
    .modal-inner-heading{
        font-size: 18px;
        font-weight: 500;
        color: $white;
        @media(max-width: 767px){
            font-size: 16px;
        }
    }
    .extra-txt{
        font-weight: 500;
    }
}


.payment-method-modal{
    .modal-content{
        padding-left: 0;
        padding-right: 0;
        .modal-header, .inner-div{
            padding-left: 25px;
            padding-right: 25px;
            @media(max-width: 767px){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .ttl-amouont{
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 500;
            color: $white;
            background-color: $main-gray;
            padding: 14px 25px;
            margin-bottom: 23px;
            @media(max-width: 767px){
                padding: 14px 15px;
                font-size: 14px;
            }
        }
        .add-money-card{
            display: flex;
            justify-content: space-between;
            color: $white;
            border-radius: 16px;
            align-items: center;
            padding: 23px;
            margin: 10px 0 28px;
            background: rgb(183,105,29);
            background: linear-gradient(76deg, rgba(183,105,29,1) 0%, rgba(246,180,55,1) 59%, rgba(250,206,108,1) 100%);
            gap: 5px;
            @media(max-width: 767px){
                padding: 14px 10px;
                border-radius: 10px;
            }
            .price{
                font-size: 28px;
                font-weight: 600;
                @media(max-width: 767px){
                    font-size: 20px;
                }
            }
            .label{
                font-size: 14px;
                @media(max-width: 767px){
                    font-size: 12px;
                }
            }
            .add-btn{
                padding: 8px 15px;
                font-size: 12px;
                background-color: $main-gray;
                color: $white;
                border-radius: 8px;
                border: none;
                font-weight: 500;
                @media(max-width: 767px){
                    font-size: 10px;
                    padding: 6px 10px;
                }
            }
        }
        .add-card-btn{
            color: $green;
            background-color: transparent;
            padding: 0;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            i{
                color: $gray-2;
            }
        }

    }
}

.coupans-modal{
    .coupans-wrap{
        margin-top: 28px;
        .coupan-single{
            padding: 14px;
            border-radius: 16px;
            background-color: $main-gray;
            margin-bottom: 12px;
            border: 1px solid transparent;
            &:last-child{
                margin-bottom: 0;
            }
            &:hover{
                border-color: $golden;
            }
            .code-row{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;
                .code{
                    background-color: $gray-3;
                    border: 1px dashed $golden;
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 3px 18px;
                    margin-right: auto;
                    color: $golden;
                    letter-spacing: 2px;
                    @media(max-width: 767px){
                        font-size: 12px;
                        border-radius: 4px;
                    }
                }
                .copy-code{
                    cursor: pointer;
                }
            }
            .coupan-para{
                font-size: 12px;
                font-weight: 300;
                margin: 0;
            }
        }
    }
}


.rating-review-modal{
    .review-pic{
        margin-bottom: 8px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
        @media(max-width: 767px){
            width: 60px;
            height: 60px;
        }
    }
    .user-name{
        font-size: 20px;
        font-weight: 500;
        color: $white;
        @media(max-width: 767px){
            font-size: 14px;
        }
    }
    .stars{
        display: flex;
        justify-content: center;
        gap: 18px;
        color: $golden;
        margin: 20px 0 28px;
        @media(max-width: 767px){
            gap: 10px;
        }
        img{
            width: 36px;
            @media(max-width: 767px){
                width: 22px;
            }
        }
    }
}


.choose-place-modal{
    .choose-place-address{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $gray-1;
        .place{
            color: $white;
            font-size: 20px;
            font-weight: 500;
            @media(max-width: 1600px){
                font-size: 16px;
            }
        }
        .address{
            margin: 0;
        }
        .edit-btn{
            border: none;
            background-color: transparent;
            padding: 0;
            color: $white;
            font-size: 20px;
            @media(max-width: 1600px){
                font-size: 16px;
            }
        }
    }
}

.save-fav-modal{
    .form-check{
        align-items: center;
        .form-check-label{
            font-size: 20px;
            @media(max-width: 1600px){
                font-size: 16px;
            }
        }
    }
}

.upload-vh-inspection-modal{
    .upload-area{
        height: 120px;
        label{
            height: 100%;
            width: 100%;
            border: 1px solid $gray-4;
            border-radius: 8px;
            background-color: $main-gray;
            @include flex-center;
            flex-direction: column;
            font-size: 14px;
            cursor: pointer;
            i{
                color: $white;
                font-size: 22px;
                margin-bottom: 12px;
            }
        }
    }
}


.upload-vh-inspection-modal {
    .modal-content{
        color: $white;
    }
    p{
        font-size: 14px;
    }
    .send-btn{
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        min-height: auto;
    }
    .ase-service-list{
        padding: 0;
        margin-top: 20px;
        .single{
            display: flex;
            align-items: flex-start;
            gap: 13px;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid $gray-4;
            &:last-child{
                margin-bottom: 0;
            }
            .ase-img{
                flex-shrink: 0;
                aspect-ratio: 1/1;
                border-radius: 50%;
                width: 49px;
            }
            .address{
                margin-bottom: 5px;
                color: $gray-2;
            }
            .small-txt{
                font-size: 10px;
                font-weight: 500;
                color: $gray-2;
            }
            .fee-btn{
                color: $golden;
                font-size: 14px;
                border: none;
                display: flex;
                align-items: center;
                text-align: left;
                border-radius: 0;
                background-color: transparent;
                width: 100%;
                i{
                    margin-left: auto;
                    font-size: 7px;
                }
            }
        }
    }
}


.send-vehicle-inspection-modal{
    .com-heading{
        font-size: 20px;
        font-weight: 500;
    }
    p{
        font-size: 14px;
        font-weight: 500;
    }
}


.success-submit-modal{
    .com-heading{
        font-size: 27px;
        margin-bottom: 20px;
    }
    p{
        font-size: 20px;
        margin-bottom: 50px;
    }
}