ul {
	margin: 0px;
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: $monts-font;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

figure {
	margin: 0px;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

img {
	max-width: 100%;
	vertical-align: middle;
	border: none;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $black;
	transition: 0.3s;
	-webkit-transition: 0.3s;

	&:hover,
	// &:focus,
	&:active {
		text-decoration: none;
		color: $golden !important;
	}
}

input[type="button"],
input[type="submit"],
button {
	width: auto;
	outline: none;
	cursor: pointer;

	&:hover,
	&:focus {
		outline: none;
	}
}


// color Class
.color-p {
	color: $primary;
}

.color-c {
	color: $secoundry;
}

// font-size
.f-12 {
	font-size: 0.75rem !important;
}

.f-14 {
	font-size: 0.875rem !important;
}

.f-16 {
	font-size: 1rem !important;
}

.f-18 {
	font-size: 1.125rem !important;
}

.f-20 {
	font-size: 1.25rem !important;
}

.f-22 {
	font-size: 1.375rem !important;
}

.f-24 {
	font-size: 1.5rem !important;
}

.f-26 {
	font-size: 1.625rem !important;
}

.f-28 {
	font-size: 1.75rem !important;
}

.f-30 {
	font-size: 1.875rem !important;
}

.f-32 {
	font-size: 2rem !important;
}

.f-34 {
	font-size: 2.125rem !important;
}

// font-weight
.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

// padding top
.pt-10 {
	padding-top: 0.625rem;
}

.pt-20 {
	padding-top: 1.25rem;
}

.pt-30 {
	padding-top: 1.875rem;
}

.pt-40 {
	padding-top: 2.5rem;
}

.pt-50 {
	padding-top: 3.125rem;
}

.pt-60 {
	padding-top: 3.75rem;
}

.pt-70 {
	padding-top: 4.375rem;
}

.pt-80 {
	padding-top: 5rem;
}

.pt-90 {
	padding-top: 5.625rem;
}

.pt-100 {
	padding-top: 6.25rem;
}

.pt-110 {
	padding-top: 6.875rem;
}

.pt-120 {
	padding-top: 11.25rem;
}

// padding bottom
.pb-10 {
	padding-bottom: 0.625rem;
}

.pb-20 {
	padding-bottom: 1.25rem;
}

.pb-30 {
	padding-bottom: 1.875rem;
}

.pb-40 {
	padding-bottom: 2.5rem;
}

.pb-50 {
	padding-bottom: 3.125rem;
}

.pb-60 {
	padding-bottom: 3.75rem;
}

.pb-70 {
	padding-bottom: 4.375rem;
}

.pb-80 {
	padding-bottom: 5rem;
}

.pb-90 {
	padding-bottom: 5.625rem;
}

.pb-100 {
	padding-bottom: 6.25rem;
}

.pb-110 {
	padding-bottom: 6.875rem;
}

.pb-120 {
	padding-bottom: 11.25rem;
}

.py-80 {
	padding: 6rem 0;

	@media (max-width:767px) {
		padding: 4rem 0 2rem;
	}
}

// margin top
.mt-10 {
	margin-top: 0.625rem;
}

.mt-20 {
	margin-top: 1.25rem;
}

.mt-30 {
	margin-top: 1.875rem;
}

.mt-40 {
	margin-top: 2.5rem;
}

.mt-50 {
	margin-top: 3.125rem;
}

.mt-60 {
	margin-top: 3.75rem;
}

.mt-70 {
	margin-top: 4.375rem;
}

.mt-80 {
	margin-top: 5rem;
}

.mt-90 {
	margin-top: 5.625rem;
}

.mt-100 {
	margin-top: 6.25rem;
}

.mt-120 {
	margin-top: 11.25rem;
}

// margin bottom
.mb-10 {
	margin-bottom: 0.625rem;
}

.mb-20 {
	margin-bottom: 1.25rem;
}

.mb-30 {
	margin-bottom: 1.875rem;
}

.mb-40 {
	margin-bottom: 2.5rem;
}

.mb-50 {
	margin-bottom: 3.125rem;
}

.mb-60 {
	margin-bottom: 3.75rem;
}

.mb-70 {
	margin-bottom: 4.375rem;
}

.mb-80 {
	margin-bottom: 5rem;
}

.mb-90 {
	margin-bottom: 5.625rem;
}

.mb-100 {
	margin-bottom: 6.25rem;
}

.mb-120 {
	margin-bottom: 11.25rem;
}

%btn-style {
	background-color: $primary;
	border-color: $primary;
	color: #fff;
	overflow: hidden;
	position: relative;
	z-index: 1;
}



.inner-container{
	width: 750px;
	max-width: 95%;
	padding: 0 15px;
	margin: 0 auto;
	@media(max-width: 767px){
		width: 100%;
		max-width: none;
	}
}

@media (min-width:667px) {
	.container-fluid {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
}

@media (min-width:1200px) {
	.container-fluid {
		padding-right: 7rem;
		padding-left: 7rem;
	}
	.navbar , .main-footer{
		.container-fluid{
			padding-right: 5.313rem;
			padding-left: 5.313rem;
		}
	}
}
@media (min-width:1499px) {
	.container-fluid {
		padding-right: 8.625rem;
		padding-left: 8.625rem;
	}
}

p{
	font-size: 16px;
	@media(max-width: 1600px){
		font-size: 14px;
	}
}

.main-content{
	background-color: $main-gray;
	padding: 71px 0 20px;
	min-height: 100vh;
}

.resize-none{
	resize: none;
}
.main-gray-bg{
	background: $main-gray !important;
}
.com-heading{
	font-size: 24px;
	font-weight: 600;
}
.com-heading-2{
	font-size: 20px;
	font-weight: 600;
	@media(max-width: 1699px){
		font-size: 18px;
	}
	@media(max-width: 1399px){
		font-size: 14px;
	}
}
.top-gap{
	margin-top: 28px;
}
.partition{
	border: 1px solid $gray-1;
}
.com-btn{
	font-size: 16px;
	font-family: $monts-font;
	font-weight: 500;
	background: linear-gradient(69deg, rgba(172,102,12,1) 0%, rgba(245,228,165,1) 46%, rgba(255,247,188,1) 64%, rgba(172,102,12,1) 97%);
	padding: 14px 18px;
	border-radius: 8px;
	display: inline-block;
	border: 1px solid transparent;
	text-align: center;
	color: $main-gray;
	min-height: 54px;
	&:hover{
		color: $main-gray !important;
		// background: linear-gradient(69deg, rgba(172,102,12,1) 20%, rgba(245,228,165,1) 56%, rgba(255,247,188,1) 74%, rgba(172,102,12,1) 97%);
	}
	@media(max-width: 1600px){
		padding: 11px 18px;
		font-size: 14px;
		min-height: 45px;
	}
	@media(max-width: 767px){
		padding: 7px 14px;
		min-height: 38px;
	}
	&.gray-btn{
		background: $gray-1;
		color: $white;
		&:hover{
			color: $white !important;
		}
	}
}
a.com-btn{
	display: flex;
	align-items: center;
	justify-content: center;
}
.com-btn-outline{
	border: 1px solid $golden;
	background: $main-gray;
	color: $golden;	
	&:hover{
		color: $golden !important;
	}
}

.green-text{
	color: $green;
}
.red-text{
	color: $red;
}
.golden-text{
	color: $golden
}
.golden-bg{
	background: $golden
}
.flex-center{
	@include flex-center;
}
.dark-bg{
	background-color: $main-gray;
}
.dark-bg-2{
	background-color: $gray-3;
}

.not-edit-input{
	border: 1px solid $gray-4;
	padding: 22px 20px;
	background-color: $main-gray;
	border-radius: 16px;
	width: 100%;
	color: $gray-2;
	display: flex;
	@media(max-width: 1600px){
		border-radius: 10px;
		padding: 12px 15px;
	}
	i{
		border-right: 1px solid $gray-4;
		width: 34px;
		display: inline-block;
		margin-right: 14px;
		flex-shrink: 0;
		margin-top: 2px;
		@media(max-width: 1600px){
			margin-top: 4px;
    		font-size: 14px;
			width: 29px;
			margin-right: 12px;
		}
	}
	.txt{
		font-size: 16px;
		color: $white;
		word-break: break-word;
		@media(max-width: 1600px){
			font-size: 14px;
		}
	}
}
.no-edit-label{
	border: 1px solid $gray-4;
	border-radius: 8px;
	color: $gray-2;
	min-width: 93px;
	padding: 5px 10px;
	margin-bottom: 5px;
	&.textarea-label{
		min-height: 70px;
	}
	@media(max-width: 1600px){
		font-size: 14px;
	}
}

.input-error{
	color: $red;
	font-size: 12px;
	margin: 3px 0 0;
}

.com-input{
	background-color: $main-gray;
	font-family: $monts-font;
	border: 1px solid $gray-4;
	height: 52px;
	border-radius: 8px;
	padding: 4px 12px;
	width: 100%;
	margin-bottom: 21px;
	outline: none;
	font-size: 16px;
	color: $white;
	&:focus{
		border-color: $golden;
		-webkit-box-shadow: 0 0 0 0.25rem #cb9c4e6e;
		-moz-box-shadow: 0 0 0 0.25rem #cb9c4e6e;
		box-shadow: 0 0 0 0.25rem #cb9c4e6e;	
		background-color: $main-gray;
	}
	&::placeholder{
		color: $placeholder;
	}
	@media(max-width: 1499px){
		height: 46px;
		font-size: 14px;
	}
}
.icon-input{
	position: relative;
	margin-bottom: 21px;
	@media(max-width: 1499px){
		margin-bottom: 14px;
	}
	& > i{
		color: $white;
		position: absolute;
		top: 50%;
		left: 13px;
		@include transform(translateY(-50%));
	}
	input, .com-input{
		background-color: $main-gray;
		margin-bottom: 0;
		padding: 4px  20px 4px 40px;
		font-size: 16px;
		@media(max-width: 1499px){
			font-size: 14px;
		}
	}
}

.com-floating{
	position: relative;
	margin: 10px 0 22px;
	.f-icon{
		color: $white;
		position: absolute;
		top: 50%;
		left: 20px;
		@include transform(translateY(-50%));
		width: 34px;
		border-right: 1px solid $gray-4;
		@media(max-width: 1600px){
			font-size: 14px;
		}
		@media(max-width: 767px){
			left: 12px;
			width: 25px;
			font-size: 12px;
		}
	}
	.f-pass{
		color: $gray-2;
		position: absolute;
		top: 50%;
		right: 25px;
		@include transform(translateY(-50%));
		font-size: 20px;
		cursor: pointer;
		@media(max-width: 1600px){
			right: 18px;
			font-size: 16px;
		}
		@media(max-width: 767px){
			font-size: 12px;
			right: 12px;
		}
	}
	.f-label{
		color: $white;
		font-size: 14px;
		position: absolute;
		left: 50px;
		top: -10px;
		padding: 0 6px;
		background: linear-gradient(0deg, rgba(17, 26, 32, 1) 50%, rgba(32, 42, 49, 1) 50%);
		font-weight: 500;
		z-index: 1;
		@media(max-width: 1600px){
			font-size: 12px;
			top: -9px;
		}
		@media(max-width: 767px){
			left: 30px;
			font-size: 10px;
			top: -7px;
		}
	}
	.f-input{
		border-radius: 16px;
		border: 1px solid $gray-4;
		background-color: $main-gray;
		outline: none;
		font-size: 16px;
		padding: 22px 20px 22px 66px;
		width: 100%;
		color: $white;
		height: 70px;
		@media(max-width: 1600px){
			font-size: 14px;
			padding: 12px 20px 12px 66px;
			border-radius: 10px;
			height: 47px;
		}
		@media(max-width: 767px){
			padding-left: 45px;
			padding-right: 12px;
			font-size: 12px;
			height: 44px;
		}
		&:focus{
			border-color: $golden !important;
			-webkit-box-shadow: 0 0 0 0.25rem #cb9c4e6e;
			-moz-box-shadow: 0 0 0 0.25rem #cb9c4e6e;
			box-shadow: 0 0 0 0.25rem #cb9c4e6e;	
			background-color: $main-gray;
		}
		&::placeholder{
			color: $placeholder;
		}
		&.f-pass-input{
			padding-right: 58px;
			@media(max-width: 767px){
				padding-right: 43px;
			}
		}
	}
	&.date-filed{
		.react-datepicker-wrapper{
			width: 100%;
		}
		.f-label, .f-icon{
			z-index: 1;
			pointer-events: none;
		}
	}
}


.com-floating{
	.react-tel-input {
		.f-input{
			padding: 22px 20px 22px 66px;
		}
		.selected-flag{
			background-color: transparent !important;
			border-radius: 16px 0 0 16px;
			padding-left: 18px;
			@media(max-width: 767px){
				padding-left: 8px;
			}
			.arrow{
				border-top: 4px solid $white;
				&.up{
					border-bottom: 4px solid $white;
				}
			}
		}
		.flag-dropdown{
			background-color: transparent !important;
			border: none;	
		}
		.form-control{
			background: $main-gray;	
			height: 70px;
			border: 1px solid $gray-4;
			color: $white;	
			border-radius: 16px;
			@media(max-width: 1600px){
				height: 47px;
				font-size: 14px;
				padding: 12px 20px 12px 66px;
				border-radius: 10px;
			}
			@media(max-width: 767px){
				padding-left: 45px;
				padding-right: 12px;
				font-size: 12px;
				height: 44px;
			}
		}
		.country-list{
			background-color: $main-gray;
			.country-name, .dial-code{
				color: $gray-4;
			}
		}
	}
}

.com-floating{
	.react-datepicker__header{
		background-color: $golden;
	}
	.react-datepicker__triangle{
		fill: $golden !important;
		stroke: $golden !important;
		color: $golden !important;
	}
	.react-datepicker-popper{
		z-index: 9;
	}
	.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected,
	.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
		background-color: $golden !important;
	}
	.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before{
		border-color: $white;
	}
}


.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected,
.react-datepicker__header{
	background-color: $golden-2 !important;
}
.react-datepicker__navigation-icon--previous::before, .react-datepicker__navigation:hover *::before,
.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before{
	border-color: $white !important;
}
.react-datepicker__time-container{
	border-right: 1px solid $black;
}

.button-input{
	position: relative;
	input{
		background-color: $main-gray;
		border-radius: 16px;
		padding: 10px 115px 10px 15px;
		width: 100%;
		height: 55px;
		margin: 0;
		@media(max-width: 1499px){
			height: 45px;
			border-radius: 12px;
		}
		@media(max-width: 767px){
			padding-right: 100px;
		}
	}
	.com-btn{
		position: absolute;
		right: 5px;
		top: 50%;
		@include transform(translateY(-50%));
		height: 85%;
		padding: 4px 20px;
		border-radius: 12px;
		min-height: auto;
		@media(max-width: 767px){
			border-radius: 10px;
			padding: 4px 10px;
		}
	}
}

.custom-select{
	border-radius: 16px;
    background-color: $main-gray;
    width: 100%;
    color: #fff;
	position: relative;
    margin: 10px 0 22px;
	.f-icon{
		color: $white;
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
		width: 34px;
		border-right: 1px solid $gray-4;
		@media(max-width: 1600px){
			font-size: 14px;
		}
		@media(max-width: 767px){
			left: 12px;
			width: 25px;
			font-size: 12px;
		}
	}
	.f-label{
		color: $white;
		font-size: 14px;
		position: absolute;
		left: 50px;
		top: -10px;
		padding: 0 6px;
		background: linear-gradient(0deg, rgb(17, 26, 32) 50%, rgb(32, 42, 49) 50%);
		font-weight: 500;
		z-index: 1;
		@media(max-width: 1600px){
			font-size: 12px;
			top: -9px;
		}
		@media(max-width: 767px){
			left: 30px;
			font-size: 10px;
			top: -7px;
		}
	}
	.custom-select-inner{
		&__control{
			height: 70px;
			border-radius: 16px;
			background-color: transparent;
			font-size: 16px;
			padding: 22px 20px 22px 66px;
			border: 1px solid $gray-4 !important;
			@media(max-width: 1600px){
				font-size: 14px;
				padding: 12px 20px 12px 66px;
				border-radius: 10px;
				height: 47px;
			}
			@media(max-width: 767px){
				padding-left: 45px;
				padding-right: 12px;
				font-size: 12px;
				height: 44px;
			}
		}
		&__input{
			color: $white !important;
		}
		&__control--is-focused{
			border-color: $golden !important;
			-webkit-box-shadow: 0 0 0 0.25rem #cb9c4e6e !important ;
			-moz-box-shadow: 0 0 0 0.25rem #cb9c4e6e !important ;
			box-shadow: 0 0 0 0.25rem #cb9c4e6e !important ; 	
		}
		&__single-value{
			color: $white;
		}
		&__input-container{
			margin: 0;
			padding: 0;
		}
		&__value-container {
			padding: 0;
		}
		&__placeholder{
			margin: 0;
			color: $placeholder;
		}
		&__indicator{
			padding: 0;
			&-separator{
				display: none;
			}
			svg{
				@media(max-width: 767px){
					width: 14px;
				}
			}
		}
		&__menu{
			background-color: $gray-3;
			border: 1px solid $gray-4;
			z-index: 2;
			&-list{
				padding: 0;
			}
		}
		&__option{
			@media(max-width: 1600px){
				font-size: 14px;
			}
		}
		&__option--is-focused{
			background-color: $gray-2;
			color: $black;
		}
		&__option--is-selected{
			background-color: $golden;
			color: $black;
		}
	}
}

.label-input-grp{
	margin-bottom: 20px;
	label{
		color: $golden;
		font-size: 14px;
		font-weight: 500;
		display: block;
		margin-bottom: 8px;
		@media(max-width: 767px){
			font-size: 12px;
		}
	}
	.label-input{
		border: none;
		border-bottom: 1px solid $gray-1;
		padding-bottom: 18px;
		background-color: transparent;
		outline: none;
		width: 100%;
		color: $white;
		@media(max-width: 1600px){
			font-size: 14px;
		}
		@media(max-width: 767px){
			font-size: 12px;
			padding-bottom: 12px;
		}
		&::placeholder{
			color: $gray-2;
		}
		&:focus{
			border-color: $golden;
		}
	}
}

.ellipsis-loader{
	display: flex;
	gap: 3px;
	justify-content: center;
	.dot{
		background-color: $gray-4;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		animation: bounce-dot 1.5s linear infinite;
		animation-delay: -0.6s;
		&:nth-child(2){
			animation-delay: -0.4s;
		}
		&:nth-child(3){
			animation-delay: -0.2s;
		}
		@keyframes bounce-dot{
			0%{
				@include transform(scale(1));
			}
			
			50%{
				@include transform(scale(0.4));
				opacity: 0.5;
			}
			100%{
				@include transform(scale(1));
				opacity: 1;
			}
		}
	}
}

.skeleton-loader{
	position: relative;
	overflow: hidden;
	min-height: 10px;
	height: 15px;
	border-radius: 2px;
	background-color: $gray-4;
	.inner{
		width: 20%;
		height: 100%;
		border-radius: 40%;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.04) 0%, rgb(159 159 159 / 48%) 52%, rgba(255, 255, 255, 0.04) 100%);
		animation: ske 0.8s linear infinite;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;

		@keyframes ske{
			0% {
				left: 0;
			}
			100% {
				left: 100%;
			}
		}
	}
}

.form-check{
	margin-bottom: 0;
	display: flex;
	min-height: auto;
	.form-check-input{
		height: 22px;
		width: 22px;
		border: 1px solid $gray-4;
		background-color: $white;
		border-radius: 8px;
		box-shadow: none;
		margin-top: 0;
		flex-shrink: 0;
		@media(max-width: 1600px){
			height: 19px;
    		width: 19px;
			border-radius: 5px;
		}
		@media(max-width: 767px){
			height: 15px;
    		width: 15px;
			border-radius: 3px;
		}
		&:checked[type=checkbox]{
			background-color: $golden;
			border-color: $golden;
		}
	}
	.form-check-label{
		font-size: 14px;
    	padding-left: 8px;
		color: $gray-2;
		@media(max-width: 1600px){
			font-size: 12px;
		}
	}

	&.form-switch{
		padding: 0;
		.form-check-input{
			margin: 0;
			flex-shrink: 0;
			width: 33px;
			height: 20px;
			border-radius: 20px;
			background-color: $gray-2;
			background-image: url(../images/white-dot.svg);
			@media(max-width: 1499px){
				width: 29px;
				height: 14px;
			}
		}
	}
}

.com-check-outline{
	.form-check-input{
		width: 18px;
		height: 18px;
		border-radius: 3px;
		border: 1px solid $gray-2;
		background-color: transparent;
		@media(max-width: 1600px){
			width: 15px;
    		height: 15px;
		}
		&:checked[type=checkbox]{
			background-image: url(../images/tick.svg);
			background-size: 67%;
			background-position: center;
			background-color: transparent;
			border-color: $golden;
		}
	}
}

.com-radio{
	.form-check-input{
		width: 18px;
		height: 18px;
		border-radius: 50%;
		border: 1px solid $gray-2;
		background-color: $main-gray;
		margin-top: 1px;
		@media(max-width: 1600px){
			width: 15px;
    		height: 15px;
		}
		&:checked[type=radio]{
			background-image: url(../images/dot.svg);
			background-size: 50%;
			background-position: center;
		}
	}
}

.otp-input{
	display: flex;
	justify-content: center;
	gap: 15px;
	input{
		width: 70px;
		height: 70px;
		border-radius: 16px;
		text-align: center;
		font-size: 40px;
		@media(max-width: 1499px){
			width: 56px;
    		height: 56px;
			font-size: 26px;
			border-radius: 12px;
		}
		@media(max-width: 767px){
			width: 46px;
    		height: 46px;
			font-size: 22px;
		}
	}
}
.otp-time{
	font-size: 12px;
	color: $golden;
	font-weight: 500;
}

.resend-btn{
	background-color: transparent;
	border: none;
	color: $white;
	text-decoration: underline;
	margin-top: 20px;
	font-size: 16px;
	@media(max-width: 1600px){
		font-size: 14px;
	}
}


.pac-container{
	background-color: $gray-3;
	border: 1px solid $gray-4;
	border-radius: 8px;
	.pac-item{
		color: $white;
		padding: 3px 8px;
		border-top: 1px solid $gray-4;
		&:hover{
			color: $black;
			.pac-item-query{
				color: $black;
			}
		}
		&:first-child{
			border-top: none;
		}
		.pac-item-query{
			color: $white;
		}
		&.pac-item-selected{
			color: $black;
			.pac-item-query{
				color: $black;
			}
		}
	}
	&.pac-logo:after{
		content: none;
	}
}

.custom-tooltip{
	display: inline-block;
	.tooltip-img{
		@media(max-width: 1699px){
			width: 14px;
		}
	}
}

.page-back-btn{
	width: fit-content;
	padding: 4px 10px;
    min-height: auto;
	font-weight: 500;
}

.page-back-arw{
	@include transform(rotate(180deg));
	color: $white;
	display: inline-block;
	font-size: 26px;
}


.status-tab{
	border-radius: 6px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	min-width: 110px;
	padding: 4px;
	color: $white;
	@media(max-width: 1699px){
		min-width: 78px;
		font-size: 12px;
	}
	@media(max-width: 1699px){
		min-width: 68px;
		font-size: 10px;
	}
	&.ongoing{
		background-color: $green;
	}
	&.cancelled{
		background-color: $red;
	}
	&.completed{
		background-color: $golden-2;
	}
}


.com-nav-tabs.nav-tabs{
	border: 1px solid $gray-3;
	border-radius: 16px;
	padding: 4px;
	background-color: $main-dark;
	margin-bottom: 30px;
	.nav-item{
		width: 50%;
		.nav-link{
			font-size: 18px;
			width: 100%;
			text-align: center;
			padding: 0;
			border-radius: 13px;
			color: $gray-2;
			border: none;
			height: 50px;
			@media(max-width: 1699px){
				font-size: 14px;
				height: 42px;
				border-radius: 8px;
			}
			&.active{
				background-color: $gray-1;
				color: $white;
			}
		}
	}
}

.page-loader{
	position: fixed;
	z-index: 99999;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	@include flex-center;
	background-color: #00000059;
    backdrop-filter: blur(28px);
	.logo-area{
		position: relative;
		height: 100px;
		width: 100px;
		&-inner{
			position: absolute;
			top: 0;
			width: 100%;
			display: block;
			height: 100%;
			&.first{
				animation: loaderlogo1 2s linear infinite;
			}
			&.second{
				animation: loaderlogo2 2s linear infinite;
			}
			@keyframes loaderlogo1{
				0%{
					@include transform(scale(1));
				}
				25%{
					@include transform(scale(1.1));
				}
				75%{
					@include transform(scale(0.9));
				}
				100%{
					@include transform(scale(1));
				}
			}
			@keyframes loaderlogo2{
				0%{
					@include transform(scale(1));
				}
				25%{
					@include transform(scale(0.9));
				}
				75%{
					@include transform(scale(1.1));
				}
				100%{
					@include transform(scale(1));
				}
			}
		}
	}
}

::-webkit-scrollbar {
	width: 4px;
	
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: $main-gray;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #bfbfbf;
    border-radius: 12px;
  }