// Colors

$white: #fff;
$black: #000;
$main-dark: #0E1419;
$main-gray: #111A20;
$gray-1: #3B454A;
$gray-2: #C7CACB;
$gray-3: #202A31;
$gray-4: #4A5358;

$placeholder: #B9BCBE;
$golden: #E7B972;
$golden-2: #DAA75B;
$green: #73C755;
$red: #FF2929;
$yellow: #F8BF4F;

$primary: #0193CE;
$secoundry: #004021;



// Font 
$monts-font:'Montserrat';